#home a {
  text-decoration: none;
  text-transform: uppercase;
}

#home button {
  text-transform: uppercase;
  text-decoration: none;
}

#home h1 {
  font-size: 40px;
}

#home h4 {
  font-size: 20px;
  color: #ba991e;
  text-transform: uppercase;
  font-weight: 800;
}
